# INFO 2950 Project

### Authors: Teddy Klausner, Spencer Pettee, Sasha Miranda, and Ben Polson

## Hypothesis:

## Data Collection:

In [22]:
## load libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## load data
data = pd.read_csv("3i-index-data.csv",  encoding='latin-1')
data2 = pd.read_csv("annual-food-expenditure-per-person-vs-gdp-per-capita.csv",  encoding='latin-1')

In [16]:
data['4.2.1) Privacy regulations / Qualitative rating 0-2, 2=best'].corr(data['1.1.1) Internet users / % of households'])

0.45332724160275384

In [23]:
for c in data2:
    print(c)

Entity
Code
Year
Total population (Gapminder, HYDE & UN)
Continent
GDP per capita (current US$)
Food expenditure (USDA (2017))

In [26]:
data2[data2['Year'] > 2000]

,Entity,Code,Year,"Total population (Gapminder, HYDE & UN)",Continent,GDP per capita (current US$),Food expenditure (USDA (2017))
0,Abkhazia,OWID_ABK,2015,NaN,Asia,NaN,NaN
202,Afghanistan,AFG,2001,2.160700e+07,NaN,117.409691,NaN
203,Afghanistan,AFG,2002,2.260100e+07,NaN,187.845095,NaN
204,Afghanistan,AFG,2003,2.368100e+07,NaN,198.728544,NaN
205,Afghanistan,AFG,2004,2.472700e+07,NaN,219.141353,NaN
206,Afghanistan,AFG,2005,2.565400e+07,NaN,250.294130,NaN
207,Afghanistan,AFG,2006,2.643300e+07,NaN,272.563077,NaN
208,Afghanistan,AFG,2007,2.710100e+07,NaN,369.835796,NaN
209,Afghanistan,AFG,2008,2.772200e+07,NaN,373.361116,NaN
210,Afghanistan,AFG,2009,2.839500e+07,NaN,445.893298,NaN
211,Afghanistan,AFG,2010,2.918600e+07,NaN,553.300289,NaN
212,Afghanistan,AFG,2011,3.011700e+07,NaN,603.537023,NaN
213,Afghanistan,AFG,2012,3.116100e+07,NaN,669.009051,NaN
214,Afghanistan,AFG,2013,3.227000e+07,NaN,638.612543,NaN
215,Afghanistan,AFG,2014,3.337100e+07,NaN,629.345250,NaN
216,Afghanistan,AFG,2015,3.441400e+07,Asia,569.577923,NaN
217,Afghanistan,AFG,2016,3.538300e+07,NaN,561.778746,NaN
218,Afghanistan,AFG,2017,3.629600e+07,NaN,585.850064,NaN
219,Afghanistan,AFG,2018,3.717200e+07,NaN,NaN,NaN
220,Afghanistan,AFG,2019,3.804200e+07,NaN,NaN,NaN
324,Africa,NaN,2001,8.309030e+08,NaN,NaN,NaN
325,Africa,NaN,2002,8.512980e+08,NaN,NaN,NaN
326,Africa,NaN,2003,8.722480e+08,NaN,NaN,NaN
327,Africa,NaN,2004,8.938430e+08,NaN,NaN,NaN
328,Africa,NaN,2005,9.161540e+08,NaN,NaN,NaN
329,Africa,NaN,2006,9.392100e+08,NaN,NaN,NaN
330,Africa,NaN,2007,9.630220e+08,NaN,NaN,NaN
331,Africa,NaN,2008,9.876240e+08,NaN,NaN,NaN
332,Africa,NaN,2009,1.013046e+09,NaN,NaN,NaN
333,Africa,NaN,2010,1.039304e+09,NaN,NaN,NaN
...,...,...,...,...,...,...,...
49019,Zambia,ZMB,2011,1.402300e+07,NaN,1644.619672,NaN
49020,Zambia,ZMB,2012,1.446500e+07,NaN,1734.930612,NaN
49021,Zambia,ZMB,2013,1.492700e+07,NaN,1850.793359,NaN
49022,Zambia,ZMB,2014,1.540000e+07,NaN,1738.088202,NaN
49023,Zambia,ZMB,2015,1.587900e+07,Africa,1313.889646,NaN
49024,Zambia,ZMB,2016,1.636300e+07,NaN,1262.989682,NaN
49025,Zambia,ZMB,2017,1.685400e+07,NaN,1509.797013,NaN
49026,Zambia,ZMB,2018,1.735200e+07,NaN,NaN,NaN
49027,Zambia,ZMB,2019,1.786100e+07,NaN,NaN,NaN
49028,Zanzibar,OWID_ZAN,2015,NaN,Africa,NaN,NaN
49230,Zimbabwe,ZWE,2001,1.192400e+07,NaN,548.058731,NaN
49231,Zimbabwe,ZWE,2002,1.195400e+07,NaN,507.348003,NaN
49232,Zimbabwe,ZWE,2003,1.198200e+07,NaN,453.351155,NaN
49233,Zimbabwe,ZWE,2004,1.202000e+07,NaN,454.360665,NaN
49234,Zimbabwe,ZWE,2005,1.207700e+07,NaN,444.760508,NaN
49235,Zimbabwe,ZWE,2006,1.215500e+07,NaN,414.796232,NaN
49236,Zimbabwe,ZWE,2007,1.225600e+07,NaN,396.998217,NaN
49237,Zimbabwe,ZWE,2008,1.238000e+07,NaN,325.678570,NaN
49238,Zimbabwe,ZWE,2009,1.252700e+07,NaN,624.272242,NaN
49239,Zimbabwe,ZWE,2010,1.269800e+07,NaN,719.979516,NaN
49240,Zimbabwe,ZWE,2011,1.289400e+07,NaN,840.949877,NaN
49241,Zimbabwe,ZWE,2012,1.311500e+07,NaN,968.163875,NaN
49242,Zimbabwe,ZWE,2013,1.335000e+07,NaN,1026.388292,NaN
49243,Zimbabwe,ZWE,2014,1.358700e+07,NaN,1031.104614,NaN
49244,Zimbabwe,ZWE,2015,1.381500e+07,Africa,1033.415841,NaN
49245,Zimbabwe,ZWE,2016,1.403000e+07,NaN,1029.076649,NaN
49246,Zimbabwe,ZWE,2017,1.423700e+07,NaN,1079.608291,NaN
49247,Zimbabwe,ZWE,2018,1.443900e+07,NaN,NaN,NaN
49248,Zimbabwe,ZWE,2019,1.464500e+07,NaN,NaN,NaN
49249,Ã land Islands,ALA,2015,NaN,Europe,NaN,NaN